# Example environment variables for USA Cricket Hub
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_ANALYTICS_ID=

# A random string used to hash tokens, sign cookies and generate cryptographic keys.
# You can generate a new one with `openssl rand -hex 32` in your terminal.
NEXTAUTH_SECRET=
